div.hang-left {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.hang-middle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

div.hang-right {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

div li {
  display: inline;
}

