/* text */

body {
  font-family: arial, sans-serif;
}

h2 {
  font-size: large;
  margin-top: 0px;
}

label {
  font-style: italic;
}

a {
  text-decoration: none;
}

/* header & footer */

div.hang-left {
  list-style-type: none;
}

div.hang-middle {
  list-style-type: none;
  text-align: center;
}

div.hang-right {
  list-style-type: none;
  text-align: right;
}

div li {
  display: inline;
}

/* content */

section {
  margin-bottom: 10px;
  margin-top: 10px;
}

div.page-help {
  position: absolute;
  right: 5px;
  width: 65%;
  text-align: left;
  border: 1px solid green;
  padding: 10px;
}

div.page-help-title {
  border-bottom: 1px solid green;
  margin-bottom: 10px;
}

form {
  width: 30%;
  border: 1px solid blue;
  padding: 10px;
}

table {
  border: 1px solid blue;
}

